.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        = current_user.name
      %ul.side-bar__user-name__top-items__icons
        %li.side-bar__user-name__top-items__icons__new-group
          = link_to new_group_path do
            = icon('fas','pen-square', class: 'icon')
        %li.side-bar__user-name__top-items__icons__edit
          = link_to edit_user_path(current_user.id) do
            = icon('fas','cog', class: 'icon')

  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group
        = link_to '#' do
          .side-bar__group-list__group__name
            = group.name
          .side-bar__group-list__group__message
            まだメッセージがありません
