.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        = current_user.name
      %ul.side-bar__user-name__top-items__icons
        %li.side-bar__user-name__top-items__icons__new-group
          = link_to do
            = icon('fas','pen-square', class: 'icon')
        %li.side-bar__user-name__top-items__icons__edit
          = link_to edit_user_path(current_user) do
            = icon('fas','cog', class: 'icon')

  .side-bar__group-list
    .side-bar__group-list__group
      %p.side-bar__group-list__group__name
        techcamp
      %p.side-bar__group-list__group__message
        まだメッセージがありません
    .side-bar__group-list__group
      %p.side-bar__group-list__group__name
        tech
      %p.side-bar__group-list__group__message
        こんにちは